*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin:auto;
  display:flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(0, 92, 151), rgb(54, 55, 149)) repeat scroll 0% 0%;
}
.generator-container{
  color: white;
  font-family:monospace,sans-serif;
  font-weight: 500;
  background-color:#2F2957;
  width: 600px;
  height: 600px;
  display:flex;
  align-items: center;
  border-radius: 10px;
  justify-content:center;
  text-align: center;
  margin-bottom: 2px;
}
.generator-container input{
  width: 325px;
  height:40px;
  outline: none;
  border: 2px solid #055997;
}
.generator-container canvas{
  margin-top: 10px;
}